@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.notification_account_created{
    align-items: center;
    text-align: center;
    font-family: 'Inter';
}
.title_notification_account_created{
    margin: 0.5rem 1rem 0.5rem 1rem;
    font-weight: 800;
    background: var(--my-color3-register);
    user-select: none;
    font-size: 2.5rem;
}
.subtitle_notification_account_created{
    margin: 0rem 1rem 1rem 1rem;
    font-weight: 500;
    background: var(--my-color3-register);
    user-select: none;
    font-size: 1.5rem;
}
.button_notification_account_created{
    margin-top: 1rem;
}
.ok_notification_account_created{
    background: green;
    font-size: 2rem;
    width: 25%;
    color: var(--my-color3-register);
    cursor: pointer;
}
.ok_notification_account_created:hover{
    background: darkgreen;
}


:root {
    --my-color1-register: #F7C600; 
    --my-color2-register: #1E1A16; 
    --my-color3-register: #FFF;
    --my-color4-register: gray; 
}
  
*{
    font-family: 'Inter', sans-serif;
}

.bg_enter_email{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display:flex;
    min-height: 100vh;
    background: var(--my-color3-register);
}

.bg_enter_email .header-login{
    width: 100%;
    background: var(--my-color1-register);
    justify-content: left;
    flex: 1;
    flex-wrap: wrap;
    position: fixed;
    z-index: 2;
    height: 5rem;
}
.bg_enter_email .title_login{
    background: var(--my-color2-register);
    color: var(--my-color1-register);
    font-size: 3rem;
    margin-top: 0.5%;
    margin-left: 1.5%;
    width: 35rem;
    text-align: center;
    user-select: none;
}

.body_enter_email{
    margin-top: 5.5%;
    background: #ecedec;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.wrapper_enter_email{
    margin-top: 2.5%;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    height: 23rem;
    border: 1.5px solid var(--my-color4-register);
    border-radius: 10px;
    padding: 30px, 40px;
    padding-bottom: 1rem;
    background: var(--my-color3-register);
}

.wrapper_enter_email .header_enter_email .iconBackFromEnterEmail{
    margin-left: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

.wrapper_enter_email .header_enter_email .header_title_email{
    font-size: 2rem;
    text-align: center;
    color: var(--my-color2-register);
    width: 100%;
    user-select: none;
    font-weight: 400;
    margin-top: 3%;
}

.wrapper_enter_email .input_email{
    width: 100%;
    height: 3rem;
    margin-top: 1rem;
}
.input_email input{
    margin-left: 10%;
    width: 50%;
    height: 100%;
    background: transparent;
    border: 1.5px solid var(--my-color4-register);
    outline: none;
    border-radius: 40px;
    font-size: 1.5rem;
    color: var(--my-color2-register);
    padding: 20px 45px 20px 20px;
}
.label_enter_email{
    font-size: 1.8rem;
    margin-left: 0.5rem;
}

.wrapper_enter_email .button_get_code{
    width: 50%;
    height: 3rem;
    background: var(--my-color2-register);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px var(--my-color2-register);
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--my-color3-register);
    font-weight: 800;
    margin-left: 25%;
    margin-top: 5%;
}

.button_get_code:hover{
    color: var(--my-color1-register);
}