@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --my-color1-my_publications: #F7C600;
  --my-color2-my_publications: #1E1A16;
  --my-color3-my_publications: #FFF;
  --my-color4-my_publications: gray;
  --my-color5-my_publications: #ecedec;
}

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

.section_top {
  padding-top: 10%;
  display: flex;
  background: var(--my-color5-my_publications);
  padding-bottom: 1%;
}

.section_title_my_posts {
  width: 48%;
  font-size: 4rem;
  height: auto;
  padding-left: 2.5%;
}

.shortcut_create_new_publication {
  background: darkgreen;
  font-size: 3rem;
  font-family: sans-serif;
  font-weight: bold;
  height: 100%;
  width: 5rem;
  cursor: pointer;
  color: var(--my-color3-my_publications);
}

.shortcut_create_new_publication:hover {
  color: var(--my-color1-my_publications);
}

.my-publications {
  padding: 1rem 1rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: 3rem 2rem;
  box-sizing: border-box;
  background: var(--my-color5-my_publications);
}

.title-my-publications {
  font-size: 4rem;
  font-weight: bold;
  color: rgba(30, 27, 23, 0.9);
}

.my_publication {
  display: flex;
  width: 100%;
  height: auto;
}

.div_image_post {
  float: left;
  width: 33.3%;
  display: flex;
  align-items: center;

}

.image_my_post {
  width: 90%;
  margin-left: 5%;
}

.info_my_post {
  float: left;
  display: block;
  width: 33.3%;
  align-items: center;
  align-content: center;
  margin-left: 3%;
}

.info_my_post h1 {
  font-size: 2.5rem;
  font-weight: 600;
  width: 100%;
}

.info_my_post p {
  font-size: 2rem;
  width: 100%;
}

.properties-my-publication {
  width: 33.3%;
  float: left;
  padding-bottom: 2%;
}

.properties-my-publication select {
  cursor: pointer;
  width: 80%;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.properties-my-publication button {
  cursor: pointer;
  width: 80%;
  font-size: 1.5rem;
  font-weight: 800;
  margin-left: 5%;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}

.edit-my-publication {
  color: white;
  background: #043246;
}

.delete-my-publication {
  background: #540303;
  color: white;

}

.chats-my-publication {
  background: #004139;
  color: white;
}

.my-publication {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 10px 10px 2px rgba(0, 0, 0, .2);
  border: 6px solid transparent;
  border-radius: 5px;
  background-color: white;
}

.my-publication:hover {
  border: 6px solid #08a05c55;
}

.post_link{
  text-decoration: none;
  color: var(--my-color2-my_publications);
}