@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --my-color1-my_publications: #F7C600;
  --my-color2-my_publications: #1E1A16;
  --my-color3-my_publications: #FFF;
  --my-color4-my_publications: gray;
  --my-color5-my_publications: #ecedec;
}

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

.section_top {
  width: 100%;
  padding-top: 9%;
  display: flex;
  background: var(--my-color5-my_publications);
  padding-bottom: 1%;
}

.section_title_my_posts_page {
  padding-top: 1rem;
  width: 50%;
}

.section_title_my_posts {
  font-family: 'Inter';
  background: var(--my-color2-main_page);
  width: max-content;
  font-size: 4rem;
  color: var(--my-color3-main_page);
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
  font-weight: 800;
  user-select: none;
  margin-left: 2%;
  text-transform: uppercase;
  user-select: none;
}

.short_cut_create_post{
  padding-top: 1rem;
  width: 50%;
}

.shortcut_create_new_publication {
  background: green;
  font-size: 3rem;
  font-family: sans-serif;
  font-weight: bold;
  height: 100%;
  cursor: pointer;
  color: var(--my-color3-my_publications);
  width: 10%;
  user-select: none;
}

.shortcut_create_new_publication:hover {
  background: darkgreen;
}

.my-publications {
  padding: 1rem 1rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: 3rem 2rem;
  box-sizing: border-box;
  background: var(--my-color5-my_publications);
  user-select: none;
}

.title-my-publications {
  font-size: 4rem;
  font-weight: bold;
  color: rgba(30, 27, 23, 0.9);
}

.my_publication {
  display: flex;
  width: 100%;
  height: auto;
  margin: 1rem;
}

.div_image_post {
  float: left;
  width: 33.3%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.image_my_post {
  width: 90%;
  margin-left: 5%;
}

.info_my_post {
  float: left;
  display: block;
  width: 33.3%;
  align-content: center;
  justify-content: left;
  margin-left: 3%;
  margin-right: 3%;
  cursor: pointer;
}

.info_my_post h1 {
  font-size: 2.5rem;
  font-weight: 600;
  width: 100%;
}

.info_my_post p {
  font-size: 2rem;
  width: 100%;
}

.properties_my_publication {
  width: 33.3%;
  float: left;
  align-content: center;
  justify-content: center;
}

.properties_my_publication select {
  cursor: pointer;
  width: 80%;
  font-size: 1.5rem;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  text-transform: uppercase;
}

.properties_my_publication button {
  cursor: pointer;
  width: 80%;
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 5%;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}

.chats-my-publication {
  background: #388E3C;
  color: white;
}
.chats-my-publication:hover {
  background: #2E7D32 ;
}

.edit-my-publication {
  color: white;
  background: #FFA000;
}
.edit-my-publication:hover {
  color: white;
  background: #FF8F00;
}

.delete-my-publication {
  background: #D32F2F ;
  color: white;
}
.delete-my-publication:hover {
  background: #C62828;
  color: white;
}

.my-publication {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 10px 10px 2px rgba(0, 0, 0, .2);
  border: 6px solid transparent;
  border-radius: 5px;
  background-color: white;
}

.my-publication:hover {
  border: 6px solid #08a05c55;
}

.post_link{
  text-decoration: none;
  color: var(--my-color2-my_publications);
}

.image-with-text1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5%;
  min-height: 61vh;
}

.image-with-text1 img {
  max-width: 20%;
  height: auto;
  border-radius: 50%;
}

.image-with-text1 p {
  margin-top: 1%;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
}