@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --my-color1-create_publication: #F7C600;
  --my-color2-create_publication: #1E1A16;
  --my-color3-create_publication: #FFF;
  --my-color4-create_publication: gray;
  --my-color5-create_publication: #ecedec;
}

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

.bg_view_publication{
  margin: 0;
  padding: 0;
}

.section_post{
  padding-top: 10%;
}
.publication {
  display: flex;
  width: 90%;
  background-color: var(--my-color5-create_publication);
  margin-left: 5%;
}

.images_post{
  width: 55%;
  float: left;
  height: auto; /* Esto ajustará la altura según la relación de aspecto de la imagen */
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider_post{
  width: 80%;
  height: auto;
  margin: 5%;
}
.image_slider{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slider_post .slick-prev:before,
.slider_post .slick-next:before {
  color: var(--my-color2-create_publication);
}




.info_post{
  width: 45%;
  float: right;
}

.data_post{

}
.data_post h1{
  font-size: 4rem;
  font-weight: 800;
  margin-top: 1.5rem;
  margin-left: 3%;
}
.data_post h2{
  font-size: 3rem;
  font-weight: 600;
  margin-top: 1.5rem;
  margin-left: 3%;
}
.data_post p{
  font-size: 1.5rem;
  margin-top: 0.3rem;
  margin-left: 3%;
}
.description{
  font-size: 1.5rem;
  margin-left: 3%;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
}

.button_contact{
  width: 100%;
  margin: 3% auto 5% 3%;
}
.button_contact button{
  background: var(--my-color2-create_publication);
  width: 30%;
  font-size: 2rem;
  color: var(--my-color3-create_publication);
  font-weight: 800;
  cursor: pointer;
  user-select: none;
  height: 3rem;
}

.button_contact button:hover{
  color: var(--my-color1-create_publication);
}