.slider-publication{
    width: 95%;
    margin-left: 2.3rem;
    margin-top: 1rem;
    position: relative;
    z-index: 1;
    height: 80%;
}

.slider-image-publication{
    width: 100%;
}
.slider-image-publication image{
    width: 100%;
}
