@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Rubik+Scribble&display=swap');

.separator{
    background:rgb(30,27,23);
    width: 99.7%;
    height: 1rem;
    margin-top: 3rem;
}

.ramirez{
    max-width: 1550px;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    margin: 0 auto;
    box-shadow: 0 5px 6px #08a05ca4;
    padding: 0 25px;
    box-sizing: border-box;
    background-color: #b49c0c;
  }
  
.banner{
    padding-top: 11.6rem;
    width: 99.7%;
}

.banner .text_banner{
    float: left;
    width: 60%;
    font-size: 6.5rem;
}
.banner .text_banner .ad{
    display: flex;
    align-items: center;
    padding-top: 6rem;
    color: rgb(30,27,23);
    font-family: "Lilita One";
    padding-left: 1rem;
}

.banner .banner_img{
    float: right;
    width: 40%;
    padding-right: 1rem;
}
.banner .banner_img img{
    width: 100%;
}

.banner1{
    margin-top: 1rem;
}
.banner1 .text_banner1{
    float: right;
    width: 60%;
    font-size: 6.5rem;
}
.banner1 .text_banner1 .ad{
    display: flex;
    align-items: center;
    padding-top: 4rem;
    color: rgb(30,27,23);
    font-family: "Lilita One";
    padding-left: 5rem;
}

.banner1 .banner_img1{
    padding-top: 1rem;
    float: left;
    width: 40%;
}
.banner1 .banner_img1 img{
    width: 100%;
    padding-left: 1rem;
}


