.ramirez{
  max-width: 1550px;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  margin: 0 auto;
  box-shadow: 0 5px 6px #08a05ca4;
  padding: 0 25px;
  box-sizing: border-box;
  background-color: #b49c0c;
  padding-left: 1.7rem;
}
/*=================================HEADER================================*/

.ram{
  font-size: 2rem;
  width: 50rem;
  border: 1px solid #b49c0c;
}
.sis{
    width: 97%;
    min-height: 100px;
    max-width: 1530px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    z-index: 2;
    box-sizing: border-box;
    background-color: rgb(30,27,23);
    box-shadow: 0 5px 10px #08a05c50;
    font-size: 2.4rem;
    color: white;
  }
  .logo{
    float: left;
    padding-top: 0.5rem;
  }
  a{
    color:rgba(246,199,0,255);
    text-decoration: none;
  }
  a:hover{
    color:#b49c0c;
  }
  li{
    list-style: none;
  }
  .sis ul{
    display: flex;
    padding: 0;
    margin: 0;
  }
  .sis ul li{
    padding: 0 1rem;
  }
  .sis ul li a{
    font-weight: bold;
  }
  .sis ul li .cat{
    color: #b49c0c;
  }
  .sis .login {
    position: relative;
    cursor: pointer;
  }
  .sis .mainnav{
    width: 100%;
    border-top: 5px solid #b49c0c;
    font-size: 2rem;
  }


.categories{
  color: #b49c0c;
}
.categories:hover{
  color: #b49c0c;
}

.rrr{
  font-size: 1rem;
}