@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --my-color1-main_page: #F7C600; 
  --my-color2-main_page: #1E1A16; 
  --my-color3-main_page: #FFF;
  --my-color4-main_page: gray; 
}

.bg_main_page{
  margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display:block;
    background: var(--my-color3-main_page);
}

*{
  font-family: 'Inter', sans-serif;
}

.bg_main_page .header_main_page{
  width: 100%;
  background: var(--my-color1-main_page);
  height: 5rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  z-index: 2;
  box-sizing: border-box;
}

.box_header_top{
  width: 100%;
  display: flex;
  flex: 1;
}
.isotype_header{
  width: 47%;
  float: left;
  padding-left: 1.5rem;
}
.isotype{
  width: 55%;
  font-size: 2rem;
  color: var(--my-color1-main_page);
  background: var(--my-color2-main_page);
  text-align: center;
  text-decoration: none;
}
.href_isotype{
  text-decoration: none;
}

.list_user_options{
  width: 53%;
  float: right;
}
.user_options{
  list-style: none;
  display: flex;
    padding: 0;
    margin: 0;
    margin-top: 0.5rem;
}
.user_option{
  padding: 0 1.5rem;
  color: var(--my-color2-main_page);
  font-size: 1.5rem;
  font-weight: lighter;
  text-decoration: none;
}

.mainnav{
  position: fixed;
  z-index: 2;
  margin-top: 5.2%;
  background: var(--my-color2-main_page);
  width: 100%;
  height: 3rem;
  display: flex;
}
.left_header_bottom{
  width: 60%;
  float: left;
}
.right_header_bottom{
  width: 50%;
  float: right;
  padding-left: 16%;
}
.plataform_options{
  cursor: pointer;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 0.5rem;
  margin-left: 5%;
}
.plataform_option{
  padding: 0 1rem;
  color: var(--my-color1-main_page);
  font-size: 1.5rem;
  font-weight: lighter;
  text-decoration: none;
}
.module_search{
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 0.5rem;
  margin-left: 1.5%;
}
.submenu{
  background: var(--my-color2-main_page);
  margin-top: 1rem;
}
.submenu li{
  list-style: none;
  padding-left: 10%;
  font-size: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
}
.submenu li:hover{
  background: var(--my-color1-main_page);
  color: var(--my-color2-main_page);
}
.submenu a{
  text-decoration: none;
  color: var(--my-color1-main_page);
  width: 100%;
}
.submenu a:hover{
  text-decoration: none;
  background: var(--my-color1-main_page);
  color: var(--my-color2-main_page);
}
.icon_glass{
  background: var(--my-color2-main_page);
  margin-left: 0.5rem;
}

.input_search{
  padding: 0 1rem;
  color: var(--my-color2-main_page);
  font-size: 1.5rem;
  font-weight: lighter;
}