/*=================================PRODUCTS================================*/
.title{
    font-size: 4rem;
    font-weight: bold;
    padding: 12rem 0 0 0;
    padding-top: 1rem;
    color: rgba(30,27,23,0.9);
  }
  .products{
    padding: 1rem 1rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 3rem 2rem;
    box-sizing: border-box;
  }
  .product{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 10px 10px 2px rgba(0, 0, 0, .2);
    border: 6px solid transparent;
    border-radius: 5px;
    background-color: white;
  }
  .product:hover{
    border: 6px solid #08a05c55;
  }
  .product_img img{
    width: 310px;
  }
  .general-footer{
    padding: 1rem;
    text-align: center;
  }
  .general-footer h1{
    font-weight: 600;
    font-size: 2rem;
    color: #1a202c;
    font-family: Helvetica, sans-serif;
  }
  .general-footer p{
    font-weight: 700;
    color: rgba(0, 0, 0, .555);
    text-transform: uppercase;
    font-size: 1.5rem;
  }
  .general-footer .price{
    font-size: 2.5rem;
    color: #1a202c;
  }
  
  .button-more-information{
    width: 100%;
    height: 45px;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-left: 20%;
  }
  .button-more-information button{
    border: none;
    outline: 0;
    cursor: pointer;
    border-radius: 3px;
    width: 75%;
    height: 45px;
    font-size: 1.5rem;
  }
  
  .button-more-information button{
    color: rgba(246,199,0,255);
    font-weight: 700;
    background: rgba(30,27,23,0.9);
  }
  .button-more-information button:hover{
    color: #b49c0c;
  }



/*=================================Services================================*/
.title{
  font-size: 4rem;
  font-weight: bold;
  padding: 12rem 0 0 0;
  padding-top: 1rem;
  color: rgba(30,27,23,0.9);
}
.services{
  padding: 1rem 1rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 3rem 2rem;
  box-sizing: border-box;
}
.service{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 10px 10px 2px rgba(0, 0, 0, .2);
  border: 6px solid transparent;
  border-radius: 5px;
  background-color: white;
}
.service:hover{
  border: 6px solid #08a05c55;
}
.service_img img{
  width: 310px;
}
.general-footer{
  padding: 1rem;
  text-align: center;
}
.general-footer h1{
  font-weight: 600;
  font-size: 2rem;
  color: #1a202c;
  font-family: Helvetica, sans-serif;
}
.general-footer p{
  font-weight: 700;
  color: rgba(0, 0, 0, .555);
  text-transform: uppercase;
  font-size: 1.5rem;
}
.general-footer .price{
  font-size: 2.5rem;
  color: #1a202c;
}

.button-more-information{
  width: 100%;
  height: 45px;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding-left: 20%;
}
.button-more-information button{
  border: none;
  outline: 0;
  cursor: pointer;
  border-radius: 3px;
  width: 75%;
  height: 45px;
  font-size: 1.5rem;
}

.button-more-information button{
  color: rgba(246,199,0,255);
  font-weight: 700;
  background: rgba(30,27,23,0.9);
}
.button-more-information button:hover{
  color: #b49c0c;
}  
  
  
  
  
  
  /*=================================MEDIA================================*/
  @media only screen and (max-width: 600px){
    header ul {
      display: none;
    }
  }