@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --my-color1-main_page: #F7C600; 
  --my-color2-main_page: #1E1A16; 
  --my-color3-main_page: #FFF;
  --my-color4-main_page: gray; 
}

.banner{
    width: 100%;
    flex: 3;
    padding-top: 9%;
    height: 100%;
    align-items: center;
    background: #ecedec;
    display: block;
}