.bg_create_publication {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    min-height: 100vh;
}

.body_create_publication {
    margin-top: 5%;
    background: var(--my-color5);
    width: 100%;
    padding-bottom: 3rem;
}

.wrapperCreatePublication {
    border: 1.5px solid var(--my-color4);
    width: 70%;
    margin-left: 15%;
    margin-top: 1%;
    border-radius: 10px;
    color: var(--my-color2);
    display: flex;
    padding-bottom: 1rem;
    background: var(--my-color3);
}

.iconBack{
    float: left;
    width: 10%;
    margin-top: 2.5%;
    cursor: pointer;
}

.title_new_create_publication h1 {
    width: 90%;
    float: right;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    font-size: var(--font-size-title);
    color: var(--my-color2);
    font-weight: 800;
    user-select: none;
    position: relative;
    right: 2.5rem;
}

.panel-left {
    float: left;
    width: 30%;
    padding-left: 7%;
}

.image_container1 {
    width: 100%;
    display: block;
}

.preview_image {
    width: 100%;
    height: 100%;
}

.box_images {
    font-size: var(--font-size-p);
    margin-bottom: 1rem;
    border: 1.5px solid var(--my-color4);
    text-align: center;
    height: min-content;
    cursor: pointer;
    user-select: none;
    padding: 0.5rem;
}

.box_images2 {
    font-size: var(--font-size-p);
    margin-bottom: 1rem;
    border: 1.5px solid var(--my-color4);
    text-align: center;
    height: min-content;
    cursor: pointer;
    user-select: none;
    align-items: center;
    padding: 0.5rem;
}

.panel-right {
    float: right;
    width: 70%;
    align-items: center;
}

.panel-right .title_publication {
    width: 80%;
    height: 1rem;
    border: 1.5px solid var(--my-color4);
    outline: none;
    font-size: var(--font-size-p);
    color: var(--my-color2);
    padding: 20px 45px 20px 20px;
    margin-left: 10%;
    user-select: none;
}

.panel-right .price_publi1{
    width: 40%;
    height: 1rem;
    border: 1.5px solid var(--my-color4);
    outline: none;
    font-size: var(--font-size-p);
    color: var(--my-color2);
    padding: 20px 45px 20px 20px;
    margin-left: 10%;
    user-select: none;
}
.panel-right .price_publi2{
    width: 40%;
    height: 1rem;
    border: 1.5px solid var(--my-color4);
    outline: none;
    font-size: var(--font-size-p);
    color: var(--my-color2);
    padding: 20px 45px 20px 20px;
    user-select: none;
}

.panel-right .combo_box {
    width: 80%;
    height: 3rem;
    border: 1.5px solid var(--my-color4);
    outline: none;
    font-size: var(--font-size-p);
    color: var(--my-color2);
    padding-left: 1rem;
    margin-left: 10%;
    margin-top: 1rem;
    cursor: pointer;
    user-select: none;
}

.panel-right .area_description {
    width: 80%;
    height: 10rem;
    border: 1.5px solid var(--my-color4);
    outline: none;
    font-size: var(--font-size-p);
    color: var(--my-color2);
    padding: 20px 45px 20px 20px;
    margin-left: 10%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.button_publicate:hover {
    color: var(--my-color1);
}

.button_remove:hover {
    color: var(--my-color1-create_publication);
}

.button_publicate {
    width: 50%;
    height: 3rem;
    background: var(--my-color2);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px var(--my-color2);
    cursor: pointer;
    font-size: var(--font-size-p);
    color: var(--my-color3);
    font-weight: 800;
    margin-left: 25%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    user-select: none;
}

.button_remove {
    width: 50%;
    background: var(--my-color2);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px var(--my-color2);
    cursor: pointer;
    font-size: var(--font-size-p);
    color: var(--my-color3);
    font-weight: 800;
    margin-top: 1rem;
    margin-bottom: 1rem;
    user-select: none;
    margin-left: 25%;
    height: max-content;
    padding: 0.5rem;
}