* {
    font-family: 'Inter', sans-serif;
}

.bg_edit_profile {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    min-height: 100vh;
    background: var(--my-color3);
    height: auto;
}

.body_edit_profile {
    display: flex;
    background: var(--my-color5);
    justify-content: center;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.wrapper_edit_profile {
    width: 40%;
    margin-left: 20%;
    margin-right: 20%;
    border: 1.5px solid var(--my-color4);
    border-radius: 10px;
    background: var(--my-color3);
    display: block;
    box-sizing: border-box;
    margin-top: 7.5%;
    margin-bottom: 5%;
    height: min-content;
}

.header_top_profile {
    width: 100%;
    display: block;
}

.header_profile {
    width: 100%;
    display: block;
}

.icon_back_up {
    width: 100%;
}

.raaa {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: min-content;
}

.iconBackFromUserProfile {
    margin-left: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

.title_profile {
    font-size: var(--font-size-title);
    text-align: center;
    color: var(--my-color2);
    user-select: none;
    font-weight: 800;
}

.body_profile {
    width: 100%;
    background: var(--my-color3);
    display: block;
}

.personal_info {
    width: 100%;
    margin-top: 5%;
    border-top: 1.5px solid var(--my-color4);
}

.passwords {
    width: 100%;
    border-top: 1.5px solid var(--my-color4);
}

.delete_account {
    width: 100%;
    border-top: 1.5px solid var(--my-color4);
}

.title_personal_info {
    font-weight: 400;
    text-align: left;
    margin: 1rem 0rem 1rem 1.5rem;
    cursor: pointer;
    user-select: none;
    font-size: var(--font-size-raaa);
}

.label_uptc {
    position: relative;
    font-size: var(--font-size-p);
    color: var(--my-color2);
    user-select: none;
    margin-left: 3%;
}

.names-lastnames_edit {
    width: 100%;
    display: flex;
}

.names-lastnames_edit .input-names-register {
    width: 40%;
    height: 3rem;
    flex: 1;
    padding-left: 7%;
    margin-top: 1rem;
}

.names-lastnames_edit .input-names-register input {
    width: 95%;
    height: 3rem;
    background: transparent;
    border: 1.5px solid var(--my-color4);
    outline: none;
    border-radius: 40px;
    font-size: var(--font-size-p);
    color: var(--my-color2);
    padding: 20px 20px 20px 20px;
    margin-right: 5%;
}

.names-lastnames_edit .input-lastnames-register {
    margin-top: 1rem;
    width: 40%;
    height: 3rem;
    flex: 1;
    padding-right: 7%;
}

.names-lastnames_edit .input-lastnames-register input {
    margin-left: 5%;
    width: 95%;
    height: 3rem;
    background: transparent;
    border: 1.5px solid var(--my-color4);
    outline: none;
    border-radius: 40px;
    font-size: var(--font-size-p);
    color: var(--my-color2);
    padding: 20px 20px 20px 20px;
}


.input_email_register_edit {
    width: 100%;
    height: 3rem;
    margin-top: 1rem;
    margin-left: 1.5%;
}

.input_email_register_edit input {
    margin-left: 5%;
    width: 52%;
    height: 3rem;
    background: transparent;
    border: 1.5px solid var(--my-color4);
    outline: none;
    border-radius: 40px;
    font-size: var(--font-size-p);
    color: var(--my-color2);
    padding: 20px 20px 20px 20px;
}

.button_save_changes_user {
    width: 50%;
    height: 3rem;
    background: var(--my-color2);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px var(--my-color2);
    cursor: pointer;
    font-size: var(--font-size-p);
    color: var(--my-color3);
    font-weight: 500;
    margin-left: 25%;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    user-select: none;
}

.button_save_changes_user:hover {
    color: var(--my-color1);
}


.input_password_edit {
    width: 100%;
    height: 3rem;
    margin-top: 1rem;
}

.input_password_edit input {
    margin-top: 1rem;
    margin-left: 10%;
    width: 80%;
    height: 100%;
    background: transparent;
    border: 1.5px solid var(--my-color4);
    outline: none;
    border-radius: 40px;
    font-size: var(--font-size-p);
    color: var(--my-color2);
    padding: 20px 45px 20px 20px;
    margin-bottom: 1rem;
}

.input_password_edit .icon-eye-rg {
    position: relative;
    top: 18%;
    transform: translateY(-50%);
    cursor: pointer;
    right: 2rem;
}

.input_password_delete {
    width: 100%;
    height: 3rem;
    margin-top: 2rem;
}

.input_password_delete input {
    margin-left: 10%;
    width: 80%;
    height: 100%;
    background: transparent;
    border: 1.5px solid var(--my-color4);
    outline: none;
    border-radius: 40px;
    font-size: var(--font-size-p);
    color: var(--my-color2);
    padding: 20px 45px 20px 20px;
    margin-bottom: 1rem;
}

.input_password_delete .icon-eye-rg {
    position: relative;
    top: 18%;
    transform: translateY(-50%);
    cursor: pointer;
    right: 2rem;
}



.button_change_password {
    width: 60%;
    height: 3rem;
    background: var(--my-color2);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px var(--my-color2);
    cursor: pointer;
    font-size: var(--font-size-p);
    color: var(--my-color3);
    font-weight: 500;
    margin-left: 20%;
    margin-top: 5%;
    user-select: none;
    margin-bottom: 2.5rem;
}

.button_change_password:hover {
    color: var(--my-color1);
}

.button_delete_account {
    width: 50%;
    height: 3rem;
    background: var(--my-color2);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px var(--my-color2);
    cursor: pointer;
    font-size: var(--font-size-p);
    color: var(--my-color3);
    font-weight: 500;
    margin-left: 25%;
    margin-top: 5%;
    user-select: none;
    margin-bottom: 8%;
}

.button_delete_account:hover {
    color: var(--my-color1);
}