@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.notification{
    display: block;
    align-items: center;
    text-align: center;
    font-family: 'Inter';
    width: 100%;
    justify-content: center;
    user-select: none;
}
.title_notification{
    font-weight: 600;
    background: var(--my-color3);
    user-select: none;
    font-size: var(--font-size-title);
    width: 100%;
    margin: 1rem 0rem 0.5rem 0rem;
}
.subtitle_notification{
    font-weight: 400;
    background: var(--my-color3);
    user-select: none;
    font-size: 1.8rem;
    width: 100%;
    margin: 0.5rem 0rem 0.5rem 0rem;
}
.button_notification{
    width: 100%;
    margin: 1rem 0rem 0rem 0rem;
}
.ok_notification{
    background: green;
    font-size: 1.8rem;
    color: var(--my-color3);
    cursor: pointer;
    width: 30%;
    user-select: none;
}
.ok_notification:hover{
    background: darkgreen;
}
  
*{
    font-family: 'Inter', sans-serif;
}