.posts_searched {
    padding-top: 9%;
    background: var(--my-color5-create_publication);
    min-height: 92.5vh;
    user-select: none;
}

.section_title_search_page {
    padding-top: 1rem;
    width: 100%;
}

.section_title_search {
    font-family: 'Inter';
    background: var(--my-color2);
    width: min-content;
    font-size: var(--font-size-title);
    color: var(--my-color3);
    text-align: left;
    font-weight: 800;
    user-select: none;
    margin-left: 2%;
    text-transform: uppercase;
    padding: 0 1rem 0 1rem;
}

.posts_found {
    padding: 1rem 1rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem 1rem;
    box-sizing: border-box;
    padding-bottom: 2rem;
}

.image-with-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5%;
}

.image-with-text img {
    max-width: 10%;
    height: auto;
    border-radius: 50%;
}

.image-with-text p {
    margin-top: 1%;
    text-align: center;
    font-size: var(--font-size-h1);
    margin-bottom: 2.5rem;
}