@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --my-color1-main_page: #F7C600;
  --my-color2-main_page: #1E1A16;
  --my-color3-main_page: #FFF;
  --my-color4-main_page: gray;
}

.general_posts {
  display: block;
  width: 100%;
  font-family: 'Inter';
  background: #ecedec;
  margin-top: 3rem;
}

.section_title {
  padding-top: 2rem;
}

.section_title_posts {
  font-family: 'Inter';
  margin-left: 1.3rem;
  background: var(--my-color2-main_page);
  font-size: var(--font-size-title);
  color: var(--my-color3-main_page);
  text-align: center;
  width: min-content;
  padding: 0 1rem 0 1rem;
}

.posts {
  padding: 1rem 1rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem 1rem;
  box-sizing: border-box;
  padding-bottom: 2rem;
}